<!-- Non-NgMaterial -->

<select #select [ngModel]="value" (change)="updateValue($event)" *ngIf="!useNgMaterial" [class]="cssClass" [disabled]="disabled">
  <option *ngFor="let opt of options$ | async" [value]="opt[valueField]">
    {{opt[displayField]}}
  </option>
</select>


<!-- NgMaterial -->

<mat-form-field *ngIf="useNgMaterial">
  <mat-select #matSelect [attr.placeholder]="placeholder" (selectionChange)="updateValue($event)" [disabled]="disabled"
      [(ngModel)]="value">
      <mat-option *ngFor="let opt of options$ | async" [value]="opt[valueField]">
        {{opt[displayField]}}
      </mat-option>
  </mat-select>
</mat-form-field>