<div class="filter-ctn">



	<input type="number" [(ngModel)]="filterModel.id"/>


	<input type="text" [(ngModel)]="filterModel.customerName"/>


	<input type="number" [(ngModel)]="filterModel.productId"/>


	<input type="number" [(ngModel)]="filterModel.orderTotal"/>


	<input type="number" [(ngModel)]="filterModel.createdById"/>


	<input type="number" [(ngModel)]="filterModel.modifiedById"/>


	<input type="text" [(ngModel)]="filterModel.createdTime"/>


	<input type="text" [(ngModel)]="filterModel.modifiedTime"/>


	<input type="text" [(ngModel)]="filterModel.active"/>


<div>

<div>
	<button (click)="search()" mat-button>
		<mat-icon>
			search
		</mat-icon>
		Search
	</button>
</div>