<div class="editor-ctn">

<!-- id: number -->

    

    <mat-form-field>
	    <input type="number" matInput
		    [(ngModel)]="model.id" placeholder="Id"/>
    </mat-form-field>
    


<!-- customerName: text -->

    

    <mat-form-field>
	    <input type="text" matInput
		    [(ngModel)]="model.customerName" placeholder="CustomerName"/>
    </mat-form-field>
    


<!-- productId: number -->


    <mat-form-field>
        <mat-select placeholder="Select Product"
            [(ngModel)]="model.productId">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let opt of productOptions" [value]="opt.id">
                {{opt.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>



<!-- orderTotal: number -->

    

    <mat-form-field>
	    <input type="number" matInput
		    [(ngModel)]="model.orderTotal" placeholder="OrderTotal"/>
    </mat-form-field>
    


<!-- createdById: number -->

    

    <mat-form-field>
	    <input type="number" matInput
		    [(ngModel)]="model.createdById" placeholder="CreatedById"/>
    </mat-form-field>
    


<!-- modifiedById: number -->

    

    <mat-form-field>
	    <input type="number" matInput
		    [(ngModel)]="model.modifiedById" placeholder="ModifiedById"/>
    </mat-form-field>
    


<!-- createdTime: datepicker -->

        <mat-form-field>
	    <input matInput [matDatepicker]="pickerCreatedTime" placeholder="Choose CreatedTime" [(ngModel)]="model.createdTime">
	      <mat-datepicker-toggle matSuffix [for]="pickerCreatedTime"></mat-datepicker-toggle>
	      <mat-datepicker #pickerCreatedTime></mat-datepicker>
    </mat-form-field>
    


<!-- modifiedTime: datepicker -->

        <mat-form-field>
	    <input matInput [matDatepicker]="pickerModifiedTime" placeholder="Choose ModifiedTime" [(ngModel)]="model.modifiedTime">
	      <mat-datepicker-toggle matSuffix [for]="pickerModifiedTime"></mat-datepicker-toggle>
	      <mat-datepicker #pickerModifiedTime></mat-datepicker>
    </mat-form-field>
    


<!-- active: checkbox -->

    	    <mat-checkbox [(ngModel)]="model.active">Active</mat-checkbox>
    




	<div class="actions-bar">
		<button mat-button (click)="save()">
			Save
		</button>

		<button mat-button (click)="cancel()">
			Cancel
		</button>
	</div>
</div>