<div class="two-columns-flex">

	<!-- FILTER -->
	<div class="filter-column">

		<h4>Filters</h4>

		<order-filter [filterModel]="filterModel" (onSearch)="search($event)">
		</order-filter>
	</div>

	<div class="table-column">
		<button mat-raised-button (click)="add()">
			<mat-icon>
				add
			</mat-icon>
			New
		</button>

		<!-- TABLE -->
		<table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="desc">

					<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px">
					Id
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">
					{{rowData.id}}
				</td>
			</ng-container>
					<ng-container matColumnDef="customerName">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px">
					CustomerName
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">
					{{rowData.customerName}}
				</td>
			</ng-container>
					<ng-container matColumnDef="productId">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px">
					ProductId
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">
					{{rowData.productId}}
				</td>
			</ng-container>
					<ng-container matColumnDef="orderTotal">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px">
					OrderTotal
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">
					{{rowData.orderTotal}}
				</td>
			</ng-container>
					<ng-container matColumnDef="createdById">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px">
					CreatedById
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">
					{{rowData.createdById}}
				</td>
			</ng-container>
					<ng-container matColumnDef="modifiedById">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px">
					ModifiedById
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">
					{{rowData.modifiedById}}
				</td>
			</ng-container>
					<ng-container matColumnDef="createdTime">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px">
					CreatedTime
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">
					{{rowData.createdTime}}
				</td>
			</ng-container>
					<ng-container matColumnDef="modifiedTime">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px">
					ModifiedTime
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">
					{{rowData.modifiedTime}}
				</td>
			</ng-container>
					<ng-container matColumnDef="active">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px">
					Active
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">
					{{rowData.active}}
				</td>
			</ng-container>
		

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef>
		
				</th>

				<td mat-cell *matCellDef="let rowData">
					<button mat-button (click)="edit(rowData)">
						<mat-icon>
							edit
						</mat-icon>
						Edit
					</button>

					<button mat-button (click)="delete(rowData)">
						<mat-icon>
							delete
						</mat-icon>
						Delete
					</button>
				</td>
			</ng-container>


			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

		<mat-paginator [length]="resultsLength" [pageSizeOptions]="[2, 5, 10, 20]" showFirstLastButtons></mat-paginator>
	</div>
</div>