# git ignore file
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Thumbs
.vs
tests/ng-app/node_modules
/Tangsem.Suite/.idea/.idea.Tangsem.Suite.Core/.idea/workspace.xml
/Tangsem.Suite/.idea/.idea.Tangsem.Suite.Core/.idea/projectSettingsUpdater.xml
