@using System.Web.Script.Serialization
@using Tangsem.Generator.WebMvc3Demo.ViewModels
@using Tangsem.Generator.WebMvc3Demo.Extensions

@model IQueryable<Tangsem.Generator.WebMvc3Demo.Common.Domain.Entities.Category>



<div id="myGrid">
@{
  
  
  var grid = new WebGrid(ajaxUpdateContainerId: "myGrid");
  grid.Bind(this, this.Model);
}

@grid.GetHtml(
  columns: grid.Columns(
            grid.Column(columnName: "Name", header: "Name", format: @<text>@item.Name</text>, style: null, canSort: true)
          )
)


@* Probably render paging bar with grid.GetPageUrl..*@

<ul>
@for(var i = 0; i < grid.PageCount; i++)
{
  <li style="display:table-cell; padding: 5px;"><a data-pjax='#myGrid' href="@grid.GetPageUrl(i)">@(i+1)</a></li>
}
</ul>




</div>

 