<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- https://github.com/microsoft/artifacts-credprovider#azure-artifacts-credential-provider -->
  <packageSources>
    <clear />
    <add key="tangsem" value="https://leew.pkgs.visualstudio.com/_packaging/tangsem/nuget/v3/index.json" />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>