<div>
  <button mat-stroked-button (click)="loadOrders()">
    <mat-icon>refresh</mat-icon>Reload Orders
  </button>

  <button mat-stroked-button (click)="loadOrders()">
    <mat-icon>printer</mat-icon>Print Labels
  </button>
</div>
<div style="display: flex; flex-direction: row; flex-wrap: wrap;">

  <div
    style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; flex-grow: 1">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <ng-container *ngIf="!isLoading">
    <div *ngFor="let odr of orders"
      style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 5px; width: 33.3%;">

      
      <ebay-order-cell [order]="odr"></ebay-order-cell>

    </div>
  </ng-container>

</div>