<div class="player" style="display: flex; flex-direction: row; justify-content: space-between">

  <div>
    <div>
      {{ order.fulfillmentStartInstructions[0].shippingStep.shipTo.fullName }}
    </div>
    <div>
      {{ order.fulfillmentStartInstructions[0].shippingStep.shipTo.contactAddress.addressLine1 }}
    </div>
    <div>
      {{ order.fulfillmentStartInstructions[0].shippingStep.shipTo.contactAddress.city }}
    </div>
    <div>
      {{ order.fulfillmentStartInstructions[0].shippingStep.shipTo.contactAddress.stateOrProvince }},
      {{ order.fulfillmentStartInstructions[0].shippingStep.shipTo.contactAddress.postalCode }}
    </div>
    <div>
      {{ order.fulfillmentStartInstructions[0].shippingStep.shipTo.contactAddress.countryCode }}
    </div>

  </div>
</div>