
<div>
  <single-entity-selector
  [useNgMaterial]="true"
  [(ngModel)]="selectedCustomer"
  endpoint="http://localhost:5000/_api/repo/Customer"
  displayField="customerName"
  valueField="customerId">

</single-entity-selector>
</div>


<div>
  Selected: {{ selectedCustomer}}
</div>


<order-listing
  [showLinkedEntityInBottomSheet]="true"
  [templates]="{customerIdTemplate: customerIdTemplate, productIdTemplate: productIdTemplate}"
  [displayedColumns]="['id', 'customerName', 'productId', 'customerId', 'active', 'actions' ]"
>

  <ng-template #customerIdTemplate let-rowData="rowData">
      
      <a mat-button (click)="rowData._showCustomerDetails = !rowData._showCustomerDetails">
        {{ rowData.customerId }}
      </a>

      <customer-editor *ngIf="rowData._showCustomerDetails"
        [subscribeToRoutingParams]="false"
        [customerId]="rowData.customerId" [hideActionBar]="true"></customer-editor>
  </ng-template>


</order-listing>