<div class="flex-columns">
  <!-- Toolbox -->
  <div class="flex-columns" style="flex: 200px 0 0; align-items: flex-start; align-content: flex-start" cdkDropList id="toolbox" [cdkDropListData]="toolboxItems"
    [cdkDropListConnectedTo]="dragListIds$ | async">

    <div class="toobox-cell draggable-item" *ngFor="let toolboxItem of toolboxItems" cdkDrag
      [cdkDragData]="toolboxItem">
      <span>{{ toolboxItem.title }}</span>
      <mat-icon cdkDragHandle>drag_handle</mat-icon>
    </div>
  </div>

  <!-- Designer Canvas -->
  <div style="flex: 600px 1 0; border: 1px solid #ccc; border-radius: 5px;">

    <div id="rows-ctn" cdkDropList [cdkDropListData]="rows" (cdkDropListDropped)="dropRow($event)">

      <!-- Rows -->
      <div *ngFor="let row of rows; let rowIndex = index;" class="flex-columns row-ctn" cdkDrag [cdkDragData]="row">

        <div cdkDragHandle class="drag-indicator">
          <button mat-icon-button>
            <mat-icon [title]="'Row ' + rowIndex">drag_indicator</mat-icon>
          </button>

        </div>

        <div class="flex-columns items-ctn" [id]="'row_items_' + row.id" cdkDropList cdkDropListOrientation="horizontal"
          [cdkDropListData]="row.items" [cdkDropListConnectedTo]="dragListIdsWithout('row_items_' + row.id) | async"
          (cdkDropListDropped)="dropColumn(row, $event)">

          <div *ngFor="let item of row.items" cdkDrag class="item-cell">
            {{ item.title }}
          </div>
        </div>

        <div
          style="cursor:pointer; width: 40px; border-left: 1px solid #ccc; display: flex; flex-direction: row; align-items: center;">
          <button mat-icon-button>
            <mat-icon (click)="removeRow(row)">delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="drop-here">
        Drop here...
      </div>
    </div>

  </div>
</div>