<header class="mat-h2">
  Shopee Product List
</header>

<section>
  <button mat-button color="primary" (click)="downloadShopeeItems()">
    <mat-icon>refresh</mat-icon>
    Refresh
  </button>

  <ng-container *ngIf="items">

    <div *ngFor="let item of items">
      <button mat-button (click)="showDetails(item.item_id)">
        More ...
      </button>
      
      {{ item.item_id }},

      {{ item.status }}

      

      <div *ngIf="(itemDetails[item.item_id] && itemDetails[item.item_id].item) as detailedItem">
        
        <button mat-button (click)="pushProductToQuickbook(item)" [disabled]="">
          <mat-icon>call_made</mat-icon>
          Push to Quickbook
        </button>

        <p>
          {{ detailedItem.description }}
        </p>

        <img *ngIf="detailedItem.images && detailedItem.images.length" [src]="detailedItem.images[0]" />
      </div>

    </div>
  </ng-container>
</section>