<div class="editor-ctn">



	<label>
		Id
	</label>
	<input type="number"
		[(ngModel)]="filterModel.id"/>


	<label>
		Name
	</label>
	<input type="text"
		[(ngModel)]="filterModel.name"/>


	<label>
		UnitPrice
	</label>
	<input type="number"
		[(ngModel)]="filterModel.unitPrice"/>


	<label>
		SpecsJson
	</label>
	<input type="text"
		[(ngModel)]="filterModel.specsJson"/>


	<label>
		CreatedById
	</label>
	<input type="number"
		[(ngModel)]="filterModel.createdById"/>


	<label>
		CreatedTime
	</label>
	<input type="text"
		[(ngModel)]="filterModel.createdTime"/>


	<label>
		ModifiedById
	</label>
	<input type="number"
		[(ngModel)]="filterModel.modifiedById"/>


	<label>
		ModifiedTime
	</label>
	<input type="text"
		[(ngModel)]="filterModel.modifiedTime"/>


	<label>
		Active
	</label>
	<input type="text"
		[(ngModel)]="filterModel.active"/>


<div>


<div class="actions-bar">
	<button mat-button (click)="save()">
		Save
	<button>

	<button mat-button (click)="cancel()">
		Cancel
	<button>
</div>