<div class="two-columns-flex">

	<!-- FILTER -->
	<div class="filter-column" *ngIf="showFilters">

		<h4>Filters</h4>

		<pos-filter [filterModel]="filterModel" (onSearch)="search($event)">
		</pos-filter>
	</div>

	<div class="table-column">

        <h3>
            Pos
        </h3>
    
        <div>
            <button mat-raised-button (click)="showFilters = !showFilters">
			    <mat-icon>
			        search
			    </mat-icon>
			    Toggle Filters
		    </button>
            <button mat-raised-button (click)="add()">
			    <mat-icon>
				    add
			    </mat-icon>
			    New
		    </button>
        </div>
		

		<!-- TABLE -->
		<table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="desc">

		
			<!-- id column -->
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef style="padding: 5px" mat-sort-header>
					Id
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">

					
					<ng-container *ngTemplateOutlet="templates.idTemplate || defaultIdTemplate; context: { rowData: rowData }"></ng-container>

					<ng-template #defaultIdTemplate>

                                                {{ rowData.id }}
                        
					</ng-template>

					
				</td>
			</ng-container>
		
			<!-- name column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef style="padding: 5px" mat-sort-header>
					Name
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">

					
					<ng-container *ngTemplateOutlet="templates.nameTemplate || defaultNameTemplate; context: { rowData: rowData }"></ng-container>

					<ng-template #defaultNameTemplate>

                                                {{ rowData.name }}
                        
					</ng-template>

					
				</td>
			</ng-container>
		
			<!-- createdById column -->
			<ng-container matColumnDef="createdById">
				<th mat-header-cell *matHeaderCellDef style="padding: 5px" mat-sort-header>
					CreatedById
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">

					
					<ng-container *ngTemplateOutlet="templates.createdByIdTemplate || defaultCreatedByIdTemplate; context: { rowData: rowData }"></ng-container>

					<ng-template #defaultCreatedByIdTemplate>

                                                {{ rowData.createdById }}
                        
					</ng-template>

					
				</td>
			</ng-container>
		
			<!-- modifiedById column -->
			<ng-container matColumnDef="modifiedById">
				<th mat-header-cell *matHeaderCellDef style="padding: 5px" mat-sort-header>
					ModifiedById
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">

					
					<ng-container *ngTemplateOutlet="templates.modifiedByIdTemplate || defaultModifiedByIdTemplate; context: { rowData: rowData }"></ng-container>

					<ng-template #defaultModifiedByIdTemplate>

                                                {{ rowData.modifiedById }}
                        
					</ng-template>

					
				</td>
			</ng-container>
		
			<!-- createdTime column -->
			<ng-container matColumnDef="createdTime">
				<th mat-header-cell *matHeaderCellDef style="padding: 5px" mat-sort-header>
					CreatedTime
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">

					
					<ng-container *ngTemplateOutlet="templates.createdTimeTemplate || defaultCreatedTimeTemplate; context: { rowData: rowData }"></ng-container>

					<ng-template #defaultCreatedTimeTemplate>

                                                {{ rowData.createdTime }}
                        
					</ng-template>

					
				</td>
			</ng-container>
		
			<!-- modifiedTime column -->
			<ng-container matColumnDef="modifiedTime">
				<th mat-header-cell *matHeaderCellDef style="padding: 5px" mat-sort-header>
					ModifiedTime
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">

					
					<ng-container *ngTemplateOutlet="templates.modifiedTimeTemplate || defaultModifiedTimeTemplate; context: { rowData: rowData }"></ng-container>

					<ng-template #defaultModifiedTimeTemplate>

                                                {{ rowData.modifiedTime }}
                        
					</ng-template>

					
				</td>
			</ng-container>
		
			<!-- active column -->
			<ng-container matColumnDef="active">
				<th mat-header-cell *matHeaderCellDef style="padding: 5px" mat-sort-header>
					Active
				</th>
				<td mat-cell *matCellDef="let rowData" style="padding: 5px">

					
					<ng-container *ngTemplateOutlet="templates.activeTemplate || defaultActiveTemplate; context: { rowData: rowData }"></ng-container>

					<ng-template #defaultActiveTemplate>

                                                {{ rowData.active }}
                        
					</ng-template>

					
				</td>
			</ng-container>
		

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef>
		
				</th>

				<td mat-cell *matCellDef="let rowData">
					<button mat-button (click)="edit(rowData)">
						<mat-icon>
							edit
						</mat-icon>
						Edit
					</button>

					<button mat-button (click)="delete(rowData)">
						<mat-icon>
							delete
						</mat-icon>
						Delete
					</button>
				</td>
			</ng-container>


			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

		<mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
	</div>
</div>